.mainText{
    color: #7B8092;/*mainText*/
    color: #1abc9c;/*selected stuff*/
    color: #3498db;/*clickable stuff*/
    color: #F7F9FB;/*overall background*/
    color: #FDFCFF;/*inputs and stuff background active area (e.g. cards)*/
    color: #D4D4DB;/*disabled texts, less important*/
    color: #e74c3c;/*errors*/ 

    color: #00BFA5;
    color: #00C853;
    color: #304FFE;
    color: #D50000;
    color: #FF6D00;
    color: #AA00FF;
}